.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);  padding: 10px;
  margin: 5px;
}

.grid-entradas {
  padding: 20px;
  text-align: center;
}

#menuListado {
  background-color: #b9cddd;
  margin-top: 0;
}

.busqueda {
  text-align: center;
  height: auto;
}

.filtro {
  display: inline-block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.filtros {
  margin-left: auto;
  margin-right: auto;
}

.grid-paginacion {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 6;
}





div {
  border-style: double;
}

.grid-busqueda {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 5px;
}

.grid-busqueda > div {
  text-align: center;
  font-size: auto;
}

.cuadro-busqueda {
  grid-column-start: 1;
  grid-column-end: 4;
}
