<div class="grid-container">
  <div class="item1">
    <img src="https://cdn.myanimelist.net/images/anime/1223/96541.webp">
    <h4>Alternative titles <hr></h4>
    <p>"title": "Fullmetal Alchemist: Brotherhood"</p>
    <p>"title_english": "Fullmetal Alchemist: Brotherhood",</p>
    <p>"title_japanese": "鋼の錬金術師 FULLMETAL ALCHEMIST",</p>
    <h4>Information<hr></h4>
    <p>"type": "TV",</p>
    <p>"source": "Manga",</p>
    <p>"episodes": 64,</p>
    <p>"aired.string": </p>
  </div>
  <div class="item2">
    <p>2</p>
  </div>
  <div class="item3">3</div>

</div>
