.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  background-color: #b9cddd;
  padding: 10px;
  max-width: fit-content;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 10px;
  text-align: center;
}

.grid-container {
  grid-template-columns: auto auto auto auto auto;
}

#menuListado {
  background-color: #b9cddd;
  margin-top: 0;
}

.busqueda {
  text-align: center;
  height: auto;
}

.paginacion {
  text-align: center;
  margin-bottom: 30px;
}

#entradaDatos {
  margin-top: 10px;
  width: 10%;
}

input {
  width: 60%;
}


